* {
 margin: 0px;
 font-family: 'Poppins', sans-serif;
}

h1 {
    font-size:100px;
    font-weight: 600;
}

p {
    font-weight: 600;
    font-size:25px;
}

header {
    background-color: #c4c4c4;
    padding: 10px;
}

a {
    text-decoration: none;
}

.self-introduction {
    border-style: solid;
    border-color: black;
    border-width: 2.5px;
    border-left-style: none;
    border-right-style: none;
}
body {
    background-color: #e0e0e0;
}
.self-introduction-text {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 10%;
}


.link_text {
    color: black;
    font-weight: 600;
    font-size: 20px;    
    padding-left: 20px;
}

.projects-title {
    margin-left: 10%;
    border-style: solid;
    border-width: 2.5px;
    border-color: black;
    padding: 10px;
    width: max-content;
    background-color: #c4c4c4;
}
.skills {
    margin-top: -5%;
    margin-bottom: 5%;
    margin-left: 10%;
}

h2 {
    font-size: 40px;
}

.botton {
    margin-top: 5px;
    margin-right: 2.5px;
    display: inline-block;
    padding: 4px;
    color: white;
    background-color: black ;
    width: max-content;
}

.profile_pic {
    margin-right: 10%;
    filter: grayscale(100);
    width: 480px;
    float: right;
}

.projects-window {
    background-color:#c4c4c4;
    padding: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-color: black;
    border-width: 2.5px;
    width: 25%;
}

.projects-text {

    font-size:medium;
}

.projects {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 10%;
}